## Scraping

In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(page.content, 'html.parser')

In [7]:
table = soup.find('tbody')
rows = table.select('tr')
row = [r.get_text() for r in rows]

## Data Cleaning

In [21]:
df = pd.DataFrame(row)
df1 = df[0].str.split('\n', expand=True)
df2 = df1.rename(columns=df1.iloc[0])
df3 = df2.drop(df2.index[0])
df3.head()

    Postcode           Borough     Neighbourhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

## Removing Not assigned rows

In [22]:
df3=df3[df3['Borough']!='Not assigned']
df3.head()

    Postcode           Borough     Neighbourhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

## Grouping Similar postal code areas

In [25]:
df3=df3.groupby(['Postcode','Borough'],sort=False).agg(','.join)
df3.reset_index(inplace=True)
df3.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

## Assigning names to the not assigned neighbourhoods

In [40]:
count=0
for index, row in df3.iterrows():
    if df3['Neighbourhood'][index]=='Not assigned':
        df3['Neighbourhood'][index]=df3['Borough'][index]
df3.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

## SHAPE

In [42]:
df3.shape

(103, 3)